h1{
    font-family:libre+Baskerville; 
    text-transform: uppercase;
    font-size: 3em;
}

*{
    background-color: black;
    color: white;
}

.poster {
    width: 50%;
    height:25%;
    margin-top: 100px;
    font-family: "Libre Baskerville", serif;
    text-align: center;
border: 10px solid white
}


.motivation-img {
    border: 5px solid white;
    width: 100%;
  }
  